@import "./vars.sass"

*
	box-sizing: border-box

body
	font-family: 'Cormorant Garamond', serif
	background-color: $color-steel
	font-weight: 300
	font-size: 1.3rem
a
	color: $color-black

img
	width: 100%

.holder
	width: 100%
	height: 1000px

.page-heading
	font-family: Ubuntu, sans-serif
	font-size: 21vw
	color: $color-white
	letter-spacing: -.8rem
	text-align: center
	position: sticky
	top: -10vw

.page-subheading
	font-size: 5vw
	text-align: center
	padding: 0 22%
	margin-top: -8vw
	margin-bottom: 100px

.article-heading
	font-size: 2rem
	margin-bottom: 30px

/***    GRID    ***/

.container
	margin: 0 auto
	max-width: 1600px
	padding: 0 8rem

.row
	display: flex

.col-lg-2
	width: 50%
	padding: 0 20px
